@model IEnumerable<SchoolManagementSystem.Models.MeetingRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="float-start">Meeting Requests</h1>
<div class="float-end">
    <a asp-controller="AdministrationTasks" asp-action="Index" class="btn btn-primary"><i class="fa-solid fa-file-pen"></i> View Administration Tasks</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Parent!.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student!.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
     <script type="text/javascript">
         
        $(document).ready(function () {
            $('.table').DataTable();
        });
     </script>
}