@model IEnumerable<SchoolManagementSystem.Models.UserSubject>

@{
    ViewData["Title"] = "Students";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Students</h1>

<p>
    <div style="max-width:200px;">
        <form>
            <select id="subject" name="subject" class="form-control">
                <option value="">-choose your Subject-</option>
                @{
                    foreach(var subject in ViewBag.Subjects)
                    {
                                        <option value="@subject.Id">@subject.Title</option>
                    }
                }
            </select>
            <a class="nav-link text-dark text-success" target="_blank" asp-controller="Subjects" asp-action="Create">+</a>
        </form>
    </div>
    <div class="clearfix"></div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
            <td>
                <a asp-action="MarkAttendance" asp-route-id="@item.Id">Mark Attendance</a> |
                <a asp-action="MarkAttendance" asp-route-id="@item.Id">Update Result</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Update Learner Profile</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
     <script type="text/javascript">
        $("#subject").on('change', function() {
            var url = window.location.href.split('?')[0] + "?subjectId=" + $(this).children("option:selected").val();
            window.location.href = url;
        });

        var urlParams = new URLSearchParams(window.location.search);
        var selectedSubject = urlParams.get('subjectId');
        if (selectedSubject != "") $("#subject").val(selectedSubject);
     </script>
}